.idea/inspectionProfiles/profiles_settings.xml
.idea/inf1002_project.iml
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
text_analyzer/test_data_keyword_gen1.csv
text_analyzer/test_data_keyword_gen2.csv
.idea/vcs.xml
text_analyzer/.ipynb_checkpoints/keyword_extract-checkpoint.ipynb
text_analyzer/.ipynb_checkpoints/test_data_sentiment_output-checkpoint.csv
text_analyzer/__pycache__/analyzer_keyword_gen.cpython-311.pyc
text_analyzer/__pycache__/analyzer_spacy.cpython-311.pyc
text_analyzer/shoeDataOutput.csv
vader_roberta_comparison/.ipynb_checkpoints/Roberta Vader Comparison-checkpoint.ipynb
text_analyzer/shoeDataCombined.csv
text_analyzer/test_data_originalCombined.csv
text_analyzer/test_data_originalOutput.csv
