.idea/inspectionProfiles/profiles_settings.xml
.idea/inf1002_project.iml
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
text_analyzer/test_data_keyword_gen1.csv
text_analyzer/test_data_keyword_gen2.csv
.idea/vcs.xml
